<!doctype html>
<html>
<head>
    <title>Project Tracker</title>
</head>

<body>

<form action="/student-add" method='POST'>
    <label>Enter Student Name
        <input type="text" name="student">
    </label>
    <input type="submit" value="Display Student">
</form>

<form action="/student">
    <label>Enter First Name
        <input type="text" name="first_name">
    </label>
    <label>Enter Last Name
        <input type="text" name="last_name">
    </label>
    <input type="submit" value="Display Student Grade">
</form>

<form action="/project">
    <label>Project Name
        <input type="text" name="title">
    </label>
    <input type="submit" value="Display Project Information">
</body>
</html>